/* Colores */
$rosa:#ff55ff ;
$negro: #0d0d0d;
$light-background: #1a1a1a;
$blanco: #fff;
$light-color: #aaa;

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
$img-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;